week-2/C++ and Debugging/C++ and Debugging.xcodeproj/project.xcworkspace/xcuserdata/adamstark.xcuserdatad/UserInterfaceState.xcuserstate
week-7/Threading in Native C++/Threading in Native C++.xcodeproj/project.xcworkspace/xcuserdata/adamstark.xcuserdatad/UserInterfaceState.xcuserstate
week-7/Threading in Native C++/Threading in Native C++.xcodeproj/project.xcworkspace/xcuserdata/adamstark.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
